<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log-In</title>
  </head>
  <body>
    <div class="log-in-page">
      <form action="./log-in" method="POST">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
        <button type="submit">Log-In</button>
      </form>
      <a class="sign-up-redirect" href="">Sign Up</a>
      <a class="index-redirect">Home</a>
    </div>
  </body>
</html>
