<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <form action="/register" method="POST">
      <div class="register-username">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required />
      </div>
      <div class="register-password">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
      </div>
      <button type="submit">Register</button>
    </form>
    <a href="/login">Back To Login</a>
    <a href="/">Back To Home</a>
  </body>
</html>
